/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}
/* Additional Styling */

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  background-image: linear-gradient(
    to bottom,
    rgb(91, 169, 217),
    lightskyblue 42%,
    white
  );
}

header {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding-top: 1vh;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  padding-left: 2vw;
  padding-bottom: 0.2rem;
  border-bottom: 3px solid blue;
}

#project-content-container {
  font-family: "Open Sans", sans-serif;
  font-weight: light;
  font-size: 1.2rem;
  margin-top: 100px;
  margin-left: 5vw;
  max-width: 90%;
  margin-bottom: 100px;
}

.section {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.section-row-flush-left {
  margin-top: 0.8rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.section-row-space-evenly {
  margin-top: 0.8rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

figure {
  display: table;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  font-weight: 400;
  font-style: italic;
  font-size: 0.95rem;
  color: #6d444c;
  margin-top: 5px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-style: italic;
  color: rgb(100, 100, 100);
}

blockquote p {
  display: inline;
}

h3 {
  font-size: larger;
}
.left-section {
  max-width: 60%;
  display: flex;
  flex-direction: column;
}

.left-section > p {
  margin-top: 0.8em;
}

li {
  margin-top: 0.2em;
}

ol > li::marker {
  font-weight: 600;
}
